{%extends 'all-photos/base.html'%} 

{% block content %}

<div class="container-fluid bgc">
  <h1 class="ppf marginleft">Inspire, Explore, Create & Showcase.</h1>
</div>

<div class="container-fluid pt-3">

  <!-- Looping through photos   -->
  {% for photos_item in images %}

  <div class="gallery col-md-4">
    <!--Display photos Article images  -->
    <div class="row">
      <div class="grid">
        <img
          id="myImg"
          src="{{photos_item.image.url}}"
          class="img-responsive mt-4 please"
          alt="{{photos_item.description}}"
          title="{{photos_item.name}}"
        />
        <!-- Image Modal -->
        <div id="myModal" class="modal">
          <span class="close">&times;</span>
          <img class="modal-content" id="img" />
          <div id="caption"></div>
          <div id="modal-body"></div>
        </div>
      </div>
    </div>
  </div>

  {% empty %}

    <div class="container-fluid bg">
      <div class="row">
        <h4 class="ppf">There Are No photos Items</h4>
      </div>
    </div>

  {% endfor %}

</div>
<a
      id="back-to-top"
      href="#"
      class="btn btn-light btn-lg back-to-top"
      role="button"
      ><i class="fa fa-chevron-up"></i
    ></a>

{% endblock %}
