{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}
{% if images%}
<div class="container-fluid bgc">
  <h1 class="ppf">{{ image.category.name }}</h1>
  <h5 class="marginleft">Too fit to quit.</h5>
</div>
{% endif %}
<div class="container-fluid pt-5">

  <!-- Looping through photos   -->
  {% for photos_item in images %}

  <div class="gallery col-md-4">
    <!--Display photos Article images  -->
    <div class="row">
      <div class="">
        <img src="{{photos_item.image.url}}" class="img-responsive" alt="Image" width="600" height="200">
      </div>
    </div>

  </div>

  {% empty %}
    <div class="bg">
      <div class="row">
        <h4 class="ppf">There Are No photos Items</h4>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}
