{%extends 'all-photos/base.html'%}

{% block content %}
{{block.super}}

<div class="container">

  <!-- Looping through photos   -->
  {% for photos_item in images %}

  <div class="row">
    <!-- displaying photos articles -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <h2 class="text-center"> {{ photos_item.name}} </h2>
    </div>

    <!--Display photos Article images  -->
    <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
      <img src="{{photos_item.image.url}}" class="img-responsive" alt="Image">
    </div>

  </div>

  {% empty %}
    <div class="container-fluid bg">
      <div class="row">
        <h4 class="ppf">There Are No photos Items</h4>
      </div>
    </div>
  {% endfor %}

</div>

{% endblock %}