<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <footer id="footer">
      <h1 class="text-center">
        A Click Of Artistic Joy. Capturing moments from today… <br />
        Creating memories for a lifetime.
      </h1>
      <h3 class="text-center mt-3">Quality in Every Click.</h3>
      <div class="socials">
        <a href="https://www.facebook.com/" target="_blank" class="fa fa-facebook"></a>
        <a href="https://www.twitter.com/" target="_blank" class="fa fa-twitter"></a>
        <a href="https://www.google.com/" target="_blank" class="fa fa-google"></a>
        <a href="https://www.linkedin.com/" target="_blank" class="fa fa-linkedin"></a>
        <a href="https://www.youtube.com/" target="_blank" class="fa fa-youtube"></a>
        <a href="https://www.instagram.com/" target="_blank" class="fa fa-instagram"></a>
        <a href="https://www.pinterest.com/" target="_blank" class="fa fa-pinterest"></a>
      </div>
      <div class="copyright">
        Copyright ©2021 All rights reserved | Ian Kiplagat
      </div>
    </footer>
  </body>
</html>
