{% load bootstrap5 %} {% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />

    {% if title %}
    <title>Picture Perfection - {{title}}</title>
    {% else %}
    <title>Home</title>
    {% endif %} {% block styles %} {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    {% endblock %}
  </head>
  <body>
    {% include "navbar.html" %} {% block content %}
    <div class="bg">
      <h1 class="ppf">Picture Perfection</h1>
      <div class="pform">
        <form class="form" role="search" action="{% url 'search_results' %}">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text"><img src="/static/photos/search.png" alt=""></span>
            </div>
            <input
              type="text"
              class="form-control"
              placeholder="Search photos"
              name="image"
            />
            <div class="input-group-btn">
              <button class="btn btn-default" type="submit"></button>
            </div>
          </div>
        </form>
        <p>Search by category or location</p>
      </div>
    </div>
    <div class="container-fluid pt-5">

      <!-- Looping through photos   -->
      {% for photos_item in images %}
    
      <div class="gallery col-md-4">
        <!--Display photos Article images  -->
        <div class="row">
          <div class="">
            <img src="{{photos_item.image.url}}" class="img-responsive" alt="Image">
          </div>
        </div>
    
      </div>
    
      {% empty %}
        <div class="container-fluid bg">
          <div class="row">
            <h4 class="ppf">There Are No photos items to display</h4>
          </div>
        </div>
      {% endfor %}
    
    </div>
    {%endblock%} {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% bootstrap_javascript %} {% endblock %}
  </body>
</html>
