.navbar {
  background: #5ae881;
}
.bg {
  background: #5ae881;
  height: 350px;
}
.bgc {
  background: #5ae881;
  height: 250px;
}
.navbar-brand {
  font-weight: bolder;
  color: black;
  font-size: 1.3em;
  margin-left: 5%;
}
.navbar-brand:hover{
  color: black;
}
.nav-item {
  margin-left: 30px;
}
.navbar .nav-item a {
  /* font-family: ; */
  font-weight: 700;
  color: black;
  font-weight: bolder;
  display: block;
  position: relative;
}
.nav-item:hover a {
  color: black;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.drop {
  font-weight: 700;
  color: black;
  font-weight: bolder;
  display: block;
  position: relative;
  margin-left: 30px;
}
.dropdown-menu {
  background: #5ae881;
}
.dropdown-item:hover {
  background: #52cb50;
}
.dropdown-toggle {
  color: black;
}
.dropdown-toggle:hover {
  color: white;
}
/* Contacts Section */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type="button"]:hover {
  background-color: #5ae881;
}
#contact-us {
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#contact-form {
  float: left;
  padding: 20px;
}
.contactDetails {
  background: #5ae881;
}
.ppf {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-left: 250px;
}
.ppc {
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-left: 138px;
}
.pform {
  display: flex;
  flex-direction: column;
  padding-left: 250px;
  padding-right: 250px;
}
.gallery {
  margin: 10px;
  border: 1px solid #ccc;
  float: left;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: auto;
}
.marginleft {
  margin-left: 100px;
  font-weight: bold;
}
.input-group-text {
  margin-top: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
}
.footer {
  height: 100px;
  margin-top: 80px;
  position: relative;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #5ae881;
  color: black;
  text-align: center;
}